.seccionNotFound {
    background-color: $verde;
    padding: 5rem .5rem;

    .seccionNotFound__title {
        color: #ffffff;
        text-align: center;
        margin-bottom: .7rem;
        font-size: 10rem;
        text-decoration: none;
    }
        .seccionNotFound__texto {
            padding-top: 2rem;
            color: rgb(255, 255, 255);
            text-align: center;
            font-size: 2rem;
            padding-bottom: 2rem;
            margin: 3rem;
        }
}
.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.pNotFound{
    color: black;
    background-color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin: 2rem auto;
    box-shadow: 10px 10px 20px 10px rgb(13, 129, 2);
    border-radius: 20px 10px;
}
.pNotFound:hover {
    color: $verde;
    
}